# Включаем mod_rewrite
RewriteEngine on

# Устанавливаем index.php индексным файлом
DirectoryIndex index.php

# Если файл физически не найден
RewriteCond %{REQUEST_FILENAME} !-f

# то направим на index.php с параметрами URI
RewriteRule ^(.*)$ index.php?links=$1 [L,QSA]